body {
    background-color: black;
    padding: 0;
    margin: 0;
    list-style: none;

}

main {
    height: 100vh;
    width: 100vw;
    background-color: rgb(236, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;    
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}

ul li:nth-child(1n) {
    grid-row: 1;
    grid-column: 1;
}

ul li:nth-child(2n) {
    grid-row: 2;
    grid-column: 2;
}

ul li:nth-child(3n) {
    grid-row: 3;
    grid-column: 1;
}

ul li:nth-child(4n) {
    grid-row: 1;
    grid-column: 3;
}

ul li:nth-child(5n) {
    grid-row: 3;
    grid-column: 3;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 75px;
    transform: rotate(-30deg) skew(25deg);

}

ul li span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    bottom: 50%;
    right: 10;
    margin: 150px;
    padding: 10px;

    width: 80px;
    height: 80px;


    box-shadow: rgb(32, 31, 31) 0px 1px 0px;
    transition: 0.4s;
}

ul li:hover span:nth-child(1) {
    opacity: 0.2;
}

ul li:hover span:nth-child(2) {
    transform: translate(15px, -15px);
    opacity: 0.4;
}

ul li:hover span:nth-child(3) {
    transform: translate(30px, -30px);
    opacity: 0.6;
}

ul li:hover span:nth-child(4) {
    transform: translate(45px, -45px);
    opacity: 0.8;

}

ul li:hover span:nth-child(5) {
    transform: translate(60px, -60px);
    opacity: 1;

}

ul li#google span {
    background-color: #d43520;

}

ul li#github span {
    background-color: #24292e;

}

ul li#twitter span {
    background-color: #55acee;
}

ul li#instagram span {
    background-color: #d15269;
}

ul li#linkedin span {
    background-color: #0077b5;
}

ul li span {
    color: white;
}

